body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f4ff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

nav {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #2b2b2b;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a.active {
    text-decoration: underline;
}

nav ul li a:hover {
    color: rgb(66, 66, 241);
}

.why-work {
    text-align: center;
}

.why-work h1 {
    color: #4a4a99;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content .text {
    text-align: left;
}

.content .text p {
    font-size: 1.1em;
    line-height: 1.6;
}

.why-work h2 {
    color: #4a4a99;
    font-size: 2em;
    margin-top: 0;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.video-wrapper iframe {
    width: 100%;
    height: auto;
    border: solid #1e1e46;
    border-width: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.zoom-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: zoom-in;
}

.zoom-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
    z-index: 1;
}

.zoom-image:active {
    transform: scale(2);
    z-index: 1000;
    position: relative;
    cursor: zoom-out;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

.zoom-image {
    width: calc(45% - 10px);
    border-radius: 8px;
    object-fit: cover;
    height: 250px; /* Adjust height as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
    cursor: zoom-in; /* Indicate zoom on hover */
}

.zoom-image:hover {
    transform: scale(1.1); /* Zoom effect */
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5); /* Glow effect */
    z-index: 1; /* Ensure the image appears above other elements */
    cursor: pointer;
}
.zoom-image:active {
    transform: scale(2); /* Zoom in */
    z-index: 1000; /* Bring to front */
    position: relative;
    cursor: zoom-out; /* Change cursor */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .zoom-image {
        width: calc(80% - 10px);
    }
}

@media (max-width: 480px) {
    .zoom-image {
        width: calc(100% - 10px);
    }
}
